@tailwind base;
@tailwind components;
@tailwind utilities;

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html, body {
  height: 100%;
}

#__next {
  height: 100%;
}

.leaflet-container {
  height: 100%;
  width: 100%;
}