@tailwind base;

/* Firefox */
* {
  scrollbar-width: thin;
  scrollbar-color: #18181b #3f3f46;;
}

*::-webkit-scrollbar {
  width: 0.45rem;
}

*::-webkit-scrollbar-track {
  background: #3f3f46;
}

*::-webkit-scrollbar-thumb {
  background: #18181b;
}

@tailwind components;
@tailwind utilities;

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html, body {
  height: 100%;
}

#__next {
  height: 100%;
}

.leaflet-container {
  height: 100%;
  width: 100%;
  background: hsl(0 0% 0% / 0.6) !important;
}

.leaflet-popup-content-wrapper {
  box-shadow: 0 4px 8px 0 rgb(0 0 0 / 20%) !important;
  background: hsl(0 0% 0% / 0.75) !important;
}

@supports (backdrop-filter: blur(1rem)) {
  .leaflet-popup-content-wrapper  {
    background-color: hsl(0 0% 0% / 0.5) !important;
    backdrop-filter: blur(1rem) !important;
  }
  .leaflet-popup-tip {
    background-color: hsl(0 0% 0% / 0.5) !important;
    backdrop-filter: blur(1rem) !important;
  }
}

.leaflet-popup-content-wrapper .leaflet-popup-content {
}

.leaflet-popup-tip {
  background: hsl(0 0% 0% / 0.75) !important;
  border: 1px solid white !important;
}

.leaflet-popup-close-button {
  color: white !important;
}